.kebab-menu-container {
    position: relative;
    align-self: flex-start;
}

.kebab-menu-button { 
    border: none; 
    outline: none;
    cursor: pointer;
    background-color: inherit;
}

.kebab-icon {
    height: 30px;
    width: auto;
}

.popup-menu {
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 8px;
    z-index: 100;
    width: max-content;
}

.popup-menu button {
    display: block;
    background: none;
    border: none;
    padding: 8px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    justify-content: center;
}

.popup-menu button:hover {
    background-color: #f0f0f0;
}

.popup-menu button img {
    margin-right: 5px;
}
